# ESP32S3 heltec wifi32 v3 board configuration

# Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config BOARD
	default "heltec_wifi32_v3"
	depends on BOARD_HELTEC_WIFI32_V3

config ENTROPY_GENERATOR
	default y
